body {
    background-color:rgb(196, 193, 176);
}




#para {
    font-size:25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

img {
    border-radius:50%;
    width:350px;
    height:350px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#hey {
    font-size: 25px;
    font-weight: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#name {
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
}

footer img{
    height:70px;
    width:70px
}



#certificationpara {
    font-family: Arial, Helvetica, sans-serif;
}

#about {
    font-size:40px;
}

#aboutpara {
    font-size: 20px;
}

#skill {
    font-size:40px;
}

#certifications {
    font-size:40px;
}

#skillpara {
    font-size: 20px;
}

#certificationpara {
    font-size:20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.icon {
    width: 28px;
    height: 28px
}

.footer-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}